body {
  font-family: system-ui, sans-serif;
  margin: 0;
  font-size: 14px;
  background: #f1f1f1;
}

#app {
  inset: 12px 20px 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu, .status {
  display: flex;
  gap: 5px;
  user-select: none;
}

a {
  color: black;
}

#canvas {
  flex-grow: 1;
  background: #fff;
}

.gray {
  color: gray;
}

.spacer {
  background: #dedede;
  width: 1px;
}